{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
{% if subscription.status == "active" %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="libre">Your Membership</h1>
            <hr>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                        {{ product.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="libre">Memberships</h1>
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row memberships-header">       
        <div class="col-12 col-md-6 offset-md-3 text-center mt-5 memberships-card">
            <div class="card">
                <div class="card-header libre">
                    <h2>Become a pro member today!</h2>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">
                        Our Pro and Beginner membership levels are designed to help you maximise your Wrottesley Golf
                        Club experience and benefit you with great savings in our store.
                        enabling us to offer you the highest rates of cashback around, and letting you choose an account
                        that’s suited to you.
                        <br>
                        <br>
                        By joining or upgrading to Plus membership, you’ll get access to all of the exclusive benefits
                        below in exchange for up to £5 of your annual cashback earnings.
                    </p>
                    <button type="submit" class="btn primary-btn-lg" id="submitBtn">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'memberships/js/stripe_memberships.js' %}"></script>
{% endblock postloadjs %}