{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
{% if subscription.status == "active" %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="libre">Your Membership</h1>
            <hr>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                    {{ product.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="libre">Memberships</h1>
            <hr>
            <button type="submit" class="btn primary-btn-lg" id="submitBtn">Subscribe</button>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'memberships/js/stripe_memberships.js' %}"></script>
{% endblock postloadjs %}