{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'memberships/css/memberships.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
{% if product.name == "Pro" %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="libre">Memberships</h1>
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-10 offset-md-1 text-center mt-5 mb-5">
            <div class="card">
                <div class="card-header memberships-card-header bg-green libre">
                    <h2 class="p-5">You are currently a {{ product.name }} member!</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-none col-md-6 col-lg-4">
                            <div class="memberships-card-image h-100"></div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-8">
                            <p class="card-text text-justify pt-5">
                                By being a {{ product.name }} member, you’ll get access to the features of the Beginner
                                level membership as well as some added exclusive offers within our store.
                                By visiting our newly launched store as a {{ product.name }} member, you will have have
                                access to a permanent 10% discount on all items.
                            </p>

                            <p class="card-text text-justify pt-5">
                                Although we hope you enjoy the benefits of being a {{ product.name }}, you are able to
                                cancel at any time.
                                Cancelling is simple, just use the link below. You can re-join at any time.
                            </p>
                            <a href="{% url 'downgrade' %}">
                                <button type="submit" class="btn primary-btn-lg mt-5" id="cancelBtn">Downgrade</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% elif product.name == "Beginner" %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="libre">Memberships</h1>
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-10 offset-md-1 text-center mt-5 mb-5">
            <div class="card">
                <div class="card-header memberships-card-header bg-green libre">
                    <h2 class="p-5">You are currently a {{ product.name }} member!</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-none col-md-6 col-lg-4">
                            <div class="memberships-card-image h-100"></div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-8">
                            <p class="card-text text-justify pt-5">
                                By being a {{ product.name }} member, you’ll get access to the features of the Beginner
                                level membership.
                                This includes access to our blog with the additional privilage of being able to comments
                                and interact with other members.
                            </p>

                            <p class="card-text text-justify pt-5">
                                As you have previously taken advantage of our Pro membership, upgrading back is super
                                easy.
                                Simply click the button below, and you will automatically be upgraded to our Pro
                                membership plan for the monthly price of £10.00 a month.
                            </p>
                            <a href="{% url 'upgrade' %}">
                                <button type="submit" class="btn primary-btn-lg mt-5" id="upgradeBtn">Subscribe</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="libre">Memberships</h1>
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-10 offset-md-1 text-center mt-5 mb-5">
            <div class="card">
                <div class="card-header memberships-card-header bg-green libre">
                    <h2 class="p-5">Become a pro member today!</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-none col-md-6 col-lg-4">
                            <div class="memberships-card-image h-100"></div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-8">
                            <p class="card-text text-justify pt-5">
                                Our Pro and Beginner membership levels are designed to help you maximise your Wrottesley
                                Golf
                                Club experience and benefit you with great savings in our store and give you exclusive
                                access to our blog.
                            </p>
                            <p class="card-text text-justify pt-5">
                                When signing up, you will automatically be signed up to our Beginner membership level.
                                Don't worry, this level is completely free
                                and gives you extra access around the site that non members do not see. On this
                                membership, you will be able to interact more with the club you love, by engaging with
                                our blog posts and being able to talk back to us with the comments feature.
                            </p>
                            <p class="card-text text-justify pt-5">
                                By joining or upgrading to Pro membership, you’ll get access to the features of the
                                Beginner level membership as well as some added exclusive offers within our store.
                                By visiting our newly launched store as a pro member, you will have have access to a
                                permanent 10% discount on all items for the monthly price of £10.00 a month.
                                So, to make the most of your Wrottesley Golf Club
                                experience, why not become a Pro member today and hit that subscribe button below!
                            </p>
                            <button type="submit" class="btn primary-btn-lg mt-5" id="submitBtn">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'memberships/js/stripe_memberships.js' %}"></script>
{% endblock postloadjs %}