{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container-fluid">
    <div class="row jumbotron p-0 mb-0">
        <div class="col-10 col-md-6 text-center p-0 my-auto mx-auto jumbotron-box">
            <div class="card jumbotron-card">
                <div class="card-header libre">
                    <h2>Our store is now LIVE</h2>
                </div>
                <div class="card-body">
                    <p>
                    <h5 class="m-2 black">View our range of clubs, clothing and accessories today</h5>
                    </p>
                    <a class="btn primary-btn-lg m-2" href="{% url 'products' %}">VISIT STORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col banner">
            <div class="text-center m-5">
                <p>
                <h3 class="libre">PRO MEMBERSHIP</h3>
                </p>
                <p>Join our membership plan today for exclusive store discount!</p>
                <a class="btn secondary-btn m-2" href="{% url 'memberships' %}">See More</a>
            </div>
        </div>
    </div>
</div>
<div class="container homepage-boxes mt-5">
    <div class="row">
        <div class="col homepage-submenu-box-one bg-green p-0 m-3">
            <a href="{% url 'blog_list' %}">
                <div class="text-center submenu-text">
                    <p class="bg-off-white p-2">Blog</p>
                </div>
            </a>
        </div>
        <div class="col homepage-submenu-box-two bg-green p-0 m-3">
            <a href="{% url 'memberships' %}">
                <div class="text-center submenu-text">
                    <p class="bg-off-white p-2">Memberships</p>
                </div>
            </a>
        </div>
        <div class="col homepage-submenu-box-three bg-green p-0 m-3">
            <a href="{% url 'products' %}">
                <div class="text-center submenu-text">
                    <p class="bg-off-white p-2">Store</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    </div>
</div>
{% endblock content %}