{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-around m-2">
        <div class="col-12 col-lg-11 pl-0">
            {% if from_profile %}
            <h2 class="libre">Previous Order</h2>
            <hr>
            <p>Please see your order details below</p>
            {% else %}
            <h2 class="libre">Success</h2>
            <hr>
            <p>Thank you for your order. Please see your order summary below</p>
            <p>A confirmation email will shortly be sent to {{ order.email }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-around m-2">
        <div class="col-12 col-lg-11 pl-0">
            <div class="">
                <div class="row">
                    <div class="col">
                        <p class="text-muted libre">Order Information:</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Order Number:</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Order Date:</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-3">
                        <p class="text-muted libre">Order Details:</p>
                        <hr>
                    </div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">{{ item.product.name }}{% if item.product_size %} - Size: {{ item.product.size }}{% endif %}
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ item.quantity }} - £{{ item.product.price }}each</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col pt-3">
                        <p class="text-muted libre">Delivery Information</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Name</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Street Address</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.street_address }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Town or City</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.town_or_city }}</p>
                    </div>
                </div>
                {% if order.county %}                
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">County</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
                {% if order.postcode %}  
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Postcode</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}                
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Country</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.country }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-3">
                        <p class="text-muted libre">Billing Information:</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Order Total</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Delivery Cost</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Discount</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.discount }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="libre">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if from_profile %}
            <div class="col-12 col-lg-4 text-right">
            <a class="btn primary-btn-lg" href="{% url 'profile' %}">BACK TO PROFILE</a>
        </div>
        {% else %}        
        <div class="col-12 col-lg-4 text-right">
            <a class="btn primary-btn-lg" href="{% url 'products' %}">BACK TO STORE</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}