/* ------------------------------------------------------- FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');


html {
    height: 100%;
    font-size: 16px;    
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    letter-spacing: 2px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #333333
}

a:hover {
    text-decoration: none;
}

/* ------------------------------------------------------- COLORS */
/* Color Theme Swatches in Hex */
.Flying-festival-Amazon-parrot-on-the-white-background-1-hex { color: #3C7322; }
.Flying-festival-Amazon-parrot-on-the-white-background-2-hex { color: #89BF15; }
.Flying-festival-Amazon-parrot-on-the-white-background-3-hex { color: #83A637; }
.Flying-festival-Amazon-parrot-on-the-white-background-4-hex { color: #D92525; }
.Flying-festival-Amazon-parrot-on-the-white-background-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.Flying-festival-Amazon-parrot-on-the-white-background-1-rgba { color: rgba(59, 114, 34, 1); }
.Flying-festival-Amazon-parrot-on-the-white-background-2-rgba { color: rgba(137, 191, 21, 1); }
.Flying-festival-Amazon-parrot-on-the-white-background-3-rgba { color: rgba(130, 165, 54, 1); }
.Flying-festival-Amazon-parrot-on-the-white-background-4-rgba { color: rgba(216, 36, 36, 1); }
.Flying-festival-Amazon-parrot-on-the-white-background-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.Flying-festival-Amazon-parrot-on-the-white-background-1-hsla { color: hsla(101, 53, 29, 1); }
.Flying-festival-Amazon-parrot-on-the-white-background-2-hsla { color: hsla(78, 80, 41, 1); }
.Flying-festival-Amazon-parrot-on-the-white-background-3-hsla { color: hsla(78, 50, 43, 1); }
.Flying-festival-Amazon-parrot-on-the-white-background-4-hsla { color: hsla(0, 70, 49, 1); }
.Flying-festival-Amazon-parrot-on-the-white-background-5-hsla { color: hsla(0, 0, 95, 1); }

/* ------------------------------------------------------- BOOTSTRAP OVERRIDES */
.black {
    color: #333333 !important;
}

.red {
    color: #D92525 !important;
}

.green {
    color: #3C7322 !important;
}

.green-secondary {
    color: #83A637;
}

.bg-green {
    background-color: #3C7322;
}

/* ------------------------------------------------------- NAV BAR */
#nav-bar-logo {
    font-family: 'Libre Baskerville', serif;
    text-decoration: underline;
    text-transform: uppercase;
    color: #333333;
}

.navbar {
    padding: 1.5rem 5rem;
}

#main-navbar{
    color: #f2f2f2;
}

.nav-link {
    font-weight: 900;
}

.main-nav-link {
    font-weight: 900;
    color: #f2f2f2;
    padding: 20px 20px;
}

.dropdown-item{
    font-weight: 900;
}

.dropdown-menu{
    border: none;
}


#mobile-search-input {
    width: 100%;
    border-radius: 0px;
}

.input-group{    
    border-radius: 10px;
}
#sort-selector{    
    border-radius: 5px;
}

/* ------------------------------------------------------- HOMEPAGE */
.jumbotron {
    background: url('/media/hero_image.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #f2f2f2;
    filter: grayscale(100%);
    border-radius: 0px;
}

.hero-image-title{
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

/* ------------------------------------------------------- MEDIA QUERIES */
/* Container width for large screens  */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar for medium and large screens */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {        
        z-index: 9999;        
        padding-top: 176px;
    }
}

/* ------------------------------------------------------- CARDS */

.card-decoration {
    border: none;
    /* box-shadow: -5px 10px 10px #f2f2f2; */
    text-decoration: none;
    transition: border 0.5s;
    border: 1px solid rgba(59, 114, 34, .125);
}

.card-title {
    font-size: 0.8em;
    font-weight: 600;
}

.card-footer {
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 0.8em;
    border: none;
}

.category_card {
    text-decoration: none;
    color: #333333;
    font-size: 0.8em;
}

.category_card:hover {
    text-decoration: none;
    color: #f2f2f2 !important;
    background-color: #3C7322;
}

.card_product_category {
    font-size: 0.8em;
    color: #3C7322;
}

.current_category_card {
    text-decoration: none;
    color: #f2f2f2;
    background-color: #3C7322;
}

.product_count{
    font-size: 0.8em;
}

.dropdown_options{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: #333333;
    font-size: 0.8em
}

/* ------------------------------------------------------- PRODUCT INFORMATION */

.product_information_title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
}

.product-information-card-image {
    
}

#sort-selector {
    width: 100%;    
    padding: 10px;
}

.custom-select-sm{
    height: 50px;
}

.border-info{
    border-color: #333333 !important;
}

.keep-shopping-btn {
    border-radius: 5px;
    border: 1px solid #333333;
}

.keep-shopping-btn:hover {
    border-radius: 5px;
    border: 1px solid #3C7322;
    color: #f2f2f2;
    background-color: #3C7322;
}

.add-to-basket-btn {
    border-radius: 5px;
    border: 1px solid #3C7322;
    color: #f2f2f2;
    background-color: #3C7322;
}

.add-to-basket-btn:hover {
    border-radius: 5px;
    border: 1px solid #3C7322;
    color: #3C7322;
    background-color: #f2f2f2;
}

.remove-item,
.update-link {
    cursor: pointer;
}

/* ------------------------------------------------------- TESTING GRID */
.second-div {
    background-color: #3C7322;
    font-weight: 900;
    height: 1000px;
}

.basket-image {
    height: 200px;
}

/* ------------------------------------------------------- MESSAGES */
.message-container {
    position: fixed;
    bottom: 50px;
    right: 15px;
    z-index: 999999999;
}