/* ------------------------------------------------------- FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');


html {
    height: 100%;
    font-size: 16px;    
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: #333333
}

a:hover {
    text-decoration: none;
    color: #333333
}

/* ------------------------------------------------------- COLORS */
/* Color Theme Swatches in Hex */
.Under-Armour-::-HOVR-Drive-1-hex { color: #D92B4B; }
.Under-Armour-::-HOVR-Drive-2-hex { color: #555936; }
.Under-Armour-::-HOVR-Drive-3-hex { color: #8C8851; }
.Under-Armour-::-HOVR-Drive-4-hex { color: #BFB7A8; }
.Under-Armour-::-HOVR-Drive-5-hex { color: #D9A171; }

/* Color Theme Swatches in RGBA */
.Under-Armour-::-HOVR-Drive-1-rgba { color: rgba(216, 43, 75, 1); }
.Under-Armour-::-HOVR-Drive-2-rgba { color: rgba(85, 89, 53, 1); }
.Under-Armour-::-HOVR-Drive-3-rgba { color: rgba(140, 136, 81, 1); }
.Under-Armour-::-HOVR-Drive-4-rgba { color: rgba(191, 183, 168, 1); }
.Under-Armour-::-HOVR-Drive-5-rgba { color: rgba(216, 161, 112, 1); }

/* Color Theme Swatches in HSLA */
.Under-Armour-::-HOVR-Drive-1-hsla { color: hsla(348, 69, 51, 1); }
.Under-Armour-::-HOVR-Drive-2-hsla { color: hsla(67, 25, 27, 1); }
.Under-Armour-::-HOVR-Drive-3-hsla { color: hsla(56, 26, 43, 1); }
.Under-Armour-::-HOVR-Drive-4-hsla { color: hsla(39, 15, 70, 1); }
.Under-Armour-::-HOVR-Drive-5-hsla { color: hsla(28, 57, 64, 1); }

/* ------------------------------------------------------- BOOTSTRAP OVERRIDES */
.black {
    color: #333333;
}

/* ------------------------------------------------------- FONTAWESOME OVERRIDES */
.fas {
    color: #333333;
}

/* ------------------------------------------------------- NAV BAR */
#nav-bar-logo {
    font-family: 'Libre Baskerville', serif;
    text-decoration: underline;
    text-transform: uppercase;
    color: #333333;
    width: fit-content;
}

.nav-link{
    font-weight: 900;
}

.dropdown-item{
    font-weight: 900;
}

.dropdown-menu{
    border: none;
}

/* Search bar 
#mobile-search-input {
    width: 100%;
    border-radius: 0px;
}

.input-group{
    margin-left: 10px;
    border-radius: 10px;
}
.input-group-append{
    margin-right: 10px;
}
*/

/* ------------------------------------------------------- HOMEPAGE */
.jumbotron {
    background: url('/media/hero_image.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 0.8em;
    height: 70vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #f2f2f2;
    filter: grayscale(100%);
}

.hero-image-title{
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

/* ------------------------------------------------------- MEDIA QUERIES */
/* Container width for large screens  */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar for medium and large screens */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {        
        z-index: 9999;        
        padding-top: 200px;
    }
}

/* ------------------------------------------------------- CARDS */

.card-decoration {
    border: none;
    box-shadow: -5px 10px 10px #f2f2f2;
    text-decoration: none;
}

.card-title {
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
}

.card-footer {
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 0.8em;
    border: none;
}

.category_card {
    text-decoration: none;
    color: #333333;
}

.category_card:hover {
    text-decoration: none;
    color: #f2f2f2;
    background-color: #555936;
}

.card_product_category {
    font-size: 0.8em;
    color: #555936;
}

.current_category_card {
    text-decoration: none;
    color: #f2f2f2;
    background-color: #555936;
}

/* ------------------------------------------------------- PRODUCT INFORMATION */

.product_information_title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 1.5em;
}

/* ------------------------------------------------------- TESTING GRID */
.second-div{
    background-color: #555936;
    font-weight: 900;
    height: 1000px;