/* ------------------------------------------------------- FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

.libre {
    font-family: 'Libre Baskerville', serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.playfair-bold {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

html {
    height: 100%;
    font-size: 14px;    
}

body {
    font-family: 'Roboto', sans-serif;
    color: #562c2c;
    letter-spacing: 1px !important;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #0e9594;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #562c2c;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #562c2c;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.primary-btn-lg {
    border-radius: 5px;
    color: #f5dfbb;
    background-color: #127475;
    padding: 10px;
    min-width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;    
    margin-bottom: 10px;
}

.primary-btn-lg:hover {
    border-radius: 5px;
    color: #127475;
    border-color: #127475;
    background-color: #f5dfbb;
    padding: 10px;
    min-width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


.secondary-btn {
    border-radius: 5px;
    color: #127475;
    border-color: #127475;
    background-color: #ffffff;
    padding: 10px;
    min-width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.secondary-btn:hover {
    border-radius: 5px;
    color: #127475;
    border-color: #127475;
    background-color: #f5dfbb;
    padding: 10px;
    min-width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/* ------------------------------------------------------- COLORS */

.brown {
    color: #562c2c;
}

.red {
    color: #f2542d;
}

.orange {
    color: #F26716;
}

.off-white {
    color: #f5dfbb;
}

.green-secondary {
    color: #0e9594;
}

.green {
    color: #127475 !important;
}

.black {
    color: #562c2c !important;
}

.muted-text {
    color: #9DB392;
}

.bg-green {
    background-color: #127475;
}

.bg-orange {
    background-color: #F26716;
}

/* ------------------------------------------------------- NAV BAR */
#nav-bar-logo {
    font-family: 'Libre Baskerville', serif;
    text-decoration: underline;
    text-transform: uppercase;
    color: #562c2c;
}

.navbar {
    padding: 1.5rem 5rem;
}

#main-navbar{
    color: #f5dfbb;
}

.nav-link {
    font-weight: 900;
    color: #127475 !important;
}

.main-nav-link {
    font-weight: 900;
    color: #f5dfbb;
    padding: 20px 20px;
}

.main-nav-link:hover {
    font-weight: 900;
    color: #f5dfbb;
    padding: 20px 20px;
}

.mobile-nav-link {
    font-weight: 900;
    color: #f5dfbb;
    padding: 20px 20px;
}

.navbar-light .navbar-toggler {
    color: #f5dfbb;
    border-color: #f5dfbb;
}

/* ------------------------------------------------------- FOOTER */

.content {
    flex: 1;
}
.footer {
    color: #f5dfbb;
    background-color: #127475;
    text-transform: uppercase;
    margin-top:30px;
    width: 100%;
}

.footer a:hover {
    padding-bottom: 1px;
    color: #f5dfbb;
}

.footer_list {
    padding: 10px !important;
    line-height: 2em;
    list-style-type: none;
}

.footer-row {
    margin-left: auto;
    margin-right: auto;    
    margin-bottom: -1px;    
}

/* ------------------------------------------------------- HOMEPAGE */
.jumbotron {
    background: url('/media/hero_image_bw.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    font-family: 'Roboto', sans-serif;
    border-radius: 0px;
}

.jumbotron-card {
    background-color: rgba(242, 242, 242, 0.9);
}

.hero-image-title {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.banner {
    background-color: #127475;
    color: #f5dfbb;
}

.homepage-submenu-box {
    padding-top: 125px;
    padding-bottom: 125px;
    font-family: 'Libre Baskerville', serif;
    color: #f5dfbb;
    font-size: 1.5em;
}

/* ------------------------------------------------------- PRODUCTS */
.dropdown-item{
    font-weight: 900;
}

.dropdown-menu{
    border: none;
}

#mobile-search-input {
    width: 100%;
    border-radius: 0px;
}

.input-group{    
    border-radius: 10px;
}

#sort-selector{    
    border-radius: 5px;
}

/* CARDS */

.card-decoration {
    text-decoration: none;
    transition: border 0.5s;
    border: 1px solid rgba(59, 114, 34, .125);
}

.product-information-card {
    border: none;
}

.card-title {
    font-size: 0.8em;
    font-weight: 600;
}

.card-footer {
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 0.8em;
    border: none;
}

.category_card {
    text-decoration: none;
    color: #562c2c;
    font-size: 0.8em;
}

.category_card:hover {
    text-decoration: none;
    color: #f5dfbb !important;
    background-color: #127475;
}

.card_product_category {
    font-size: 0.8em;
    color: #127475;
}

.current_category_card {
    text-decoration: none;
    color: #f5dfbb;
    background-color: #127475;
}

.product_count{
    font-size: 0.8em;
}

.dropdown_options{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: #562c2c;
    font-size: 0.8em
}

.product-card {
    color: #f5dfbb; 
}

/* ------------------------------------------------------- PRODUCT INFORMATION */

.product_information_title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
}

#sort-selector {
    width: 100%;    
    padding: 10px;
}

.custom-select-sm{
    height: 50px;
}

.border-info{
    border-color: #562c2c !important;
}

.remove-item,
.update-link {
    cursor: pointer;
}

/* ------------------------------------------------------- MESSAGES */
.message-container {
    position: fixed;
    bottom: 50px;
    right: 15px;
    z-index: 999999999;
    min-width: 250px;
}

.notification-wrapper{
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.message-price {
    font-size: 0.8em
}

.message-name {
    font-size: 0.9em
}

.message-text {
    font-size: 0.8em;
    color: #127475;
}

/* ------------------------------------------------------- MEDIA QUERIES */
/* Container width for large screens  */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar for medium and large screens */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {        
        z-index: 9999;        
        padding-top: 154px;
    }
}
/* ------------------------------------------------------- TESTING GRID */
.blog-header-main-image {
    object-fit: cover;
    object-position: center;
    height: 400px;
}

.blog-post-main-image {
    object-fit: cover;
    object-position: center;
    height: 300px;
}

.blog-header {
    height: 400px;
}

.file-btn {
    position: relative;
    overflow: hidden;
}

.file-btn input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.add_blog_btn{
    background-color: #127475;
    color: #f5dfbb !important;
    font-size: 2em;
    position: fixed;
    bottom: 10px;
    right: 10px; 
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.blog-text {
    text-align: justify;
}

.blog_subtitle {
    font-weight: 500;
}

.comments {
    border-left: 3px solid #127475;
}

.character-count {
    color: #562c2c;
}

/* ------------------------------------------------------- TESTING GRID */
.second-div {
    background-color: #127475;
    font-weight: 900;
    height: 1000px;
}