<div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">The Club</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tournaments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Store</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Memberships</a>
        </li>
    </ul>
</div>