<div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
          <a class="main-nav-link" aria-current="page" href="#">The Club</a>
        </li>
        <li class="nav-item">
          <a class="main-nav-link" href="{% url 'blog_list' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="main-nav-link" href="{% url 'products' %}">Store</a>
        </li>
        <li class="nav-item">
            <a class="main-nav-link" href="{% url 'memberships' %}">
                <span><i class="fas fa-star"></i></span> Memberships
            </a>
        </li>
    </ul>
</div>