{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0 blog-header">
            <img class="w-100 blog-header-main-image" src="{{ MEDIA_URL }}{{ blog_post.main_image }}"
                alt="Card image cap">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <div class="col-12 text-center">
                <h1 class="libre mt-5">{{ blog_post.title }}</h1>
            </div>
            <div class="col">
                <p class="mt-5">
                    A blog post by {{ blog_post.author }}
                    <span class="float-right">
                        <i class="fas fa-comment-alt"></i> {{ comments|length }}
                    </span>
                </p>
                <hr>
            </div>
            <div class="card-body blog-text">
                <h3 class="blog_subtitle libre">{{ blog_post.sub_title_one }}</h3>
                <p class="card-text">{{ blog_post.blog_content_one | linebreaks }}</p>
                <br>
                {% if blog_post.sub_title_two %}
                <h3 class="blog_subtitle libre">{{ blog_post.sub_title_two }}</h3>
                <p class="card-text">{{ blog_post.blog_content_two | linebreaks }}</p>
                {% endif %}
                <p class="card-text">
                    <small class="text-muted">Last updated on {{ blog_post.last_updated }}</small>
                    {% if request.user.is_superuser %}
                    <small class="text-muted float-right">
                        <a href="{% url 'edit_blog' blog_post.slug %}">
                            <i class="fas fa-edit"></i> EDIT
                        </a> |
                        <a class="red" href="{% url 'delete_blog' blog_post.slug %}">
                            <i class="fas fa-trash-alt"></i> DELETE
                        </a>
                    </small>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 mt-5">
            {% if comments|length == 1 %}
            <p class="text-center"><strong>{{ comments|length }} COMMENT</strong></p>
            {% else %}
            <p class="text-center"><strong>{{ comments|length }} COMMENTS</strong></p>
            {% endif %}
            <hr>
            {% if request.user.is_authenticated %}
            <div class="card-body">
                <h5>Leave a comment</h5>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form|crispy }}
                    {% csrf_token %}
                    <small class="float-right" id="character-count"><span id="char">0</span> / 200</small>
                    <br>
                    <button type="submit" class="btn primary-btn-lg">
                        <i class="fas fa-comment-alt"></i> Post Comment
                    </button>
                </form>
            </div>
            {% else %}
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="card-body">
                    <p class="libre"><a href="{% url 'account_login' %}">Login</a> to leave a comment</p>
                </div>
            </div>
            {% endif %}
            {% if comments %}
            {% for comment in comments %}
            <div class="comments" style="padding: 1.25em;">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.date_created }}
                    </span>
                </p>
                "{{ comment.body | linebreaks }}"
            </div>
            <br>
            {% endfor %}
            {% else %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    <i class="fas fa-comment-alt"></i> No comments yet. Be the first to comment!
                </p>
            </div>
            <hr>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#id_body').keyup(function () {
        var maxLength = 800;
        var currentLegnth = $('#id_body').val().length;
        var char = $('#char');
        var submit = $(":submit");
        var characterCount = $('#character-count');
        char.text(currentLegnth);
        if (currentLegnth > 200) {
            characterCount.css('color', '#f2542d');
            characterCount.css('font-weight', 'bold');
            submit.prop('disabled', true);
        } else if (currentLegnth >= 140 && currentLegnth <= 200) {
            characterCount.css('color', '#F26716');
            characterCount.css('font-weight', 'bold');
            submit.prop('disabled', false);
        } else {
            characterCount.css('color', '#127475');
            characterCount.css('font-weight', 'normal');
            submit.prop('disabled', false);
        }
    });
</script>
{% endblock postloadjs %}