{% extends "base.html" %}

{% block content %}
<div class="container-fluid header-container m-0">
    <div class="row allauth-jumbotron p-0">
        <div class="col p-3 my-auto mx-auto allauth-jumbotron-box">
            <div class="card allauth-jumbotron-card mx-auto bg-green">
                <div class="row">
                    <div class="col">
                        <div class="allauth-inner-content p-3 center">
                            {% block inner_content %}
                            {% endblock inner_content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}