{% extends "base.html" %}

{% block content %}
<div class="container-fluid header-container m-0">
    <div class="row allauth-jumbotron p-0">
        <div class="col p-3 my-auto mx-auto allauth-jumbotron-box">
            <div class="card allauth-jumbotron-card mx-auto bg-green">
                <div class="row">
                    <div class="col">
                        <div class="p-3 center">
                            <h2 class="libre text-center m-5">Looks like you've hit the bunker!</h2>
                            <hr>
                            <p class="card-text text-center mb-5">The page you are looking for can not be found right now...
                                <a href="{% url 'home' %}" class="btn secondary-btn mt-5">Go home</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}