.memberships-card-image {
    background: url('/media/peter-drew-SzSNFsD3wOI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}

.memberships-card-header {
    color: #f5dfbb; 
}

.memberships-success-card-image {
    background: url('/media/courtney-cook-FALrwN_MpeE-unsplash.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}