{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-4 offset-lg-1">
            <div class="card h-100 product-information-card">
                <img src="{{ product.image_url }}" class="card-img-top center product-information-card-image"
                    alt="{{ product.name }}">
                <div class="card-footer text-center">
                    <p>SKU: {{ product.sku }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-12 col-lg-5">
            <div>
                <h2 class="product_information_title">{{ product.name }}</h2>
                <div class="pt-4">
                    <strong>£{{ product.price }}</strong>
                    <span class="float-right">
                        <a href="{% url 'products'%}?category={{ product.category }}">
                            {{ product.category.friendly_name }}
                        </a>
                    </span>
                </div>
                <hr>
                <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with product.has_sizes as s %}
                        {% if s %}
                        <div class="col-12 col-md-6">
                            <p class="mb-0"><strong>Size:</strong></p>
                            <select class="form-select form-select-lg p-2 mb-3 w-100"
                                aria-label=".form-select-lg example" name="product_size" id="product_size">
                                <option value="S">Small</option>
                                <option value="M" selected>Medium</option>
                                <option value="L">Large</option>
                                <option value="XL">X Large</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="mb-0"><strong>Quantity:</strong></p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend bg-green">
                                        <button class="btn minus-qty" data-item_id="{{ product.id }}"
                                            id="minus-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-minus off-white"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_selection" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append bg-green">
                                        <button class="btn plus-qty" data-item_id="{{ product.id }}"
                                            id="plus-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-plus off-white"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col col-md-6">
                            <p>Quantity</p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend bg-green">
                                        <button class="btn minus-qty" data-item_id="{{ product.id }}"
                                            id="minus-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-minus off-white"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_selection" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append bg-green">
                                        <button class="btn plus-qty off-white" data-item_id="{{ product.id }}"
                                            id="plus-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-5">
                            <input class="btn primary-btn-lg" type="submit" value="Add to Basket">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-12">
                            <div class="card product-card bg-green mb-3">
                                <div class="card-header">
                                    <h5 class="product_information_title mt-1">Product Description</h5>
                                </div>
                                <div class="card-body">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </div>                        
                        <div class="col">
                            <a href="{% url 'products' %}">
                                <div class="btn mt-2 secondary-btn">
                                    <span><i class="fas fa-angle-double-left"></i> Back to Products</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>        
</div>
<div class="container-fluid mt-5">
    <div class="row pt-5 bg-green">
        <div class="col-12 text-center">
            <h3 class="product_information_title off-white">You may also like:</h3>
            <div class="row justify-content-center mt-5">
                {% for sp in similar_products|slice:'4' %}
                {% if sp.name != product.name %}
                <div class="col col-md-3 col-lg-2 mb-3">
                    <div class="card h-100 card-decoration">
                        <p class="text-left card_product_category p-2">{{ sp.category.friendly_name }}</p>
                        <a href="{% url 'product_information' sp.id %}">
                            <img src="{{ sp.image_url }}" class="card-img-top center" alt="{{ sp.name }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ sp.name }}</h5>
                        </div>

                        <div class="card-footer text-center">
                            <p>£{{ sp.price }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}
{% endblock postloadjs %}